*{
 padding:0;
 margin:0;
}

html,body{
  display:flex;
  align-items: center;
  background-size: cover;
  background:#fffaa8;
  justify-content: center;
}

.p5Canvas{
    margin: 15%;
    box-shadow:  41px 41px 100px #523232, -41px -41px 100px #ffcaca;
    justify-content: center;
    border-radius: 40px;
}
